:root {
  --metal:#282C33;
  --navy:#1B263B;
  --dark:#0d1b2a;
  --cream:#E0E1DD;
  --paleBlue:#415A77;
  --blue:#415a77;
  --superDark:#0D131A;
  background-color: var(--metal);
  cursor:grab;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--metal);
  min-height: 200vh;
  min-width: 100vh;
  margin:10vmin;


  display: flex;
  flex-direction: column;

  
  align-items: center;
  font-size: calc(1px + 1.6vmin);
  color: var(--cream);
}


.Node {
  background-color: var(--superDark);
  border-radius: 10px;
  width:31vmin;
  height:28vmin;
  position:absolute;
  cursor:default
}



.Action {
  width:31vmin;
  height:8vmin;
  background: none;
  border:none;
  font-size:3vmin;
  text-align: center;
  color:var(--cream);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  letter-spacing: -0.1vmin;
  font-weight: 600;
}


.Start {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size:3vmin;
  font-weight: 600;
  line-height: 30%;
}



textarea {
  resize:none;
  width:27vmin;
  height:16vmin;
  border-radius: 5px;
  font-size: 15px;
  padding:1vmin;
  background-color:var(--metal);
  color:var(--cream);
  border:none;
}


.Plus {
  position: relative;
  top:-1.5vmin;
  width:3.5vmin;
  height:3.5vmin;
}


.Line {
  background-color: var(--cream);
  border-radius: 4px;
  position: fixed;
  z-index:-10;
}

.Horizontal {
  height:0.75vmin;
}
.Vertical {
  width:0.75vmin;
}


.Sidebar {
  position:absolute;
  left:0;
  top:0;
  
  height:100%;
  width:20%;
}